.gradient-span {
    background: #A531DC;
    background: linear-gradient(to right, #A531DC 0%, #4300B1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}