@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Inter', sans-serif;

$bold: 700;
$semi-bold: 600;
$medium: 500;
$regular: 400;
$light: 300;
$extra-light: 200;

$font-size-xxs: 0.625rem;
$font-size-xs: 0.75rem;
$font-size-sm: 1rem;
$font-size-md: 1.2rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-xxl: 2.25rem;
$font-size-xxxl: 2.5rem;
$font-size-xxxxl: 3.5rem;