.join-us {
    width: 80%;
    margin: 75px 10%;
    padding: 30px 30px;
    border-radius: 10px;
    display: grid;
    align-items: center;
    justify-items: right;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: rgb(18,18,18);
    background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(20,20,20,1) 100%);
    -webkit-box-shadow: 4px 4px 100px -37px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 4px 4px 100px -37px rgba(0, 0, 0, 0.55);
    box-shadow: 4px 4px 100px -37px rgba(0, 0, 0, 0.55);


    img {
        width: 50%;

        
    }

    @media (max-width: 968px) {
        display: flex;
        margin: 75px auto;

        img {
            display: none;
        }
    
    }
}

.join-us-left {
    text-align: center;
    h2 {
        font-size: $font-size-xxxxl;

        @media (max-width: 550px)
        {
            font-size: $font-size-xxxl;}
    }

    P {
        color: $secondary-text-color;
    }

    .joinus-btn {
        margin-top: 20px;
        padding: 20px 30px;
    }
}