.live-rating-img {
    width: 60px;
}

.live-rating {
    width: 80%;
    margin: 75px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        thead {
            background: rgb(18,18,18);
            background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(20,20,20,1) 100%);
            color: $secondary-text-color;
        }
        th, td {
            text-align: center;
            padding: 10px 0;
        }

        tr {
            border-bottom: 1px solid $secondary-text-color;
            cursor: pointer;

            &:nth-of-type(1) {
                cursor: default;
            }
        }
    }
}

.above-zero {
    color: green;
}

.below-zero {
    color: red;
}