@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #181818;
  min-height: 100vh;
  color: white;
  font-size: 1.2rem;
}

.hero {
  width: 80%;
  margin: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 90vh;
  align-items: center;
}
.hero .hero-spline {
  height: 80%;
}
.hero .hero-left {
  display: flex;
  flex-direction: column;
}
.hero .hero-left h2 {
  font-size: 3.5rem;
}
.hero .hero-left h3 {
  font-weight: 500;
  color: #7a7a7a;
}

.badge {
  display: inline-block;
  padding: 8px 15px;
  background-color: #111111;
  color: #7a7a7a;
  border-radius: 10px;
}

.hero-stats {
  display: flex;
  padding-top: 7.5rem;
}

.divider {
  height: 50px;
  width: 1px;
  background-color: #7a7a7a;
}

.hero-stats-item {
  padding: 0 30px;
}
.hero-stats-item .gradient-span {
  font-weight: 700;
}
.hero-stats-item p {
  font-weight: 500;
  color: #7a7a7a;
}
.hero-stats-item:first-child {
  padding-left: 0;
}

nav {
  padding: 25px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* Remove overflow: hidden; */
}
nav h2 {
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 0 20px;
  font-weight: 500;
  transition: background ease-in 300ms;
  font-family: "Montserrat", sans-serif;
}
.nav-links a:hover {
  background: #A531DC;
  background: linear-gradient(to right, #A531DC 0%, #4300B1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sticky-nav {
  position: fixed;
  background-color: #111111;
  top: 0;
  width: 100%;
  z-index: 1000;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4300B1 #181818;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #181818;
}

*::-webkit-scrollbar-track:hover {
  background-color: #7A7A7A;
}

*::-webkit-scrollbar-track:active {
  background-color: #7A7A7A;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #4300B1;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #A531DC;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #A531DC;
}

.joinus-btn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(to right, #A531DC 0%, #4300B1 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  transition: filter ease-in 200ms;
}
.joinus-btn:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.hero-newsletter {
  display: inline-block;
  position: relative;
  margin-top: 2rem;
}
.hero-newsletter input {
  background-color: #181818;
  border: 2px solid #7a7a7a;
  border-radius: 10px;
  padding: 0.5rem 3rem 0.5rem 1rem;
  max-width: 400px;
  width: 100%;
  color: white;
}
.hero-newsletter button {
  position: absolute;
  border-radius: 10px;
  aspect-ratio: 1;
  height: 80%;
  right: 0;
  top: 10%;
  transform: translateX(-10%);
  border: none;
  background: linear-gradient(to right, #A531DC 0%, #4300B1 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  transition: filter ease-in 200ms;
}
.hero-newsletter button:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.live-rating-btn {
  margin: 0 5px;
  width: 30px;
  border-radius: 50%;
  aspect-ratio: 1;
  border: none;
  background: linear-gradient(to right, #A531DC 0%, #4300B1 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  transition: filter ease-in 200ms;
}
.live-rating-btn:hover {
  filter: brightness(50%);
  cursor: pointer;
}

.live-rating-btn-active {
  filter: brightness(50%);
}

.gradient-span {
  background: #A531DC;
  background: linear-gradient(to right, #A531DC 0%, #4300B1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.grid-container {
  display: grid;
  grid-template: 1fr 1fr 1fr;
  grid-template: repeat(3, 1fr);
  grid-gap: 10px;
  width: 80%;
  margin: 75px 10%;
}
.grid-container div {
  border: 1px solid #7a7a7a;
  height: 200px;
  border-radius: 10px;
  padding: 30px 30px;
  background: rgb(18, 18, 18);
  background: linear-gradient(90deg, rgb(18, 18, 18) 0%, rgb(20, 20, 20) 100%);
  box-shadow: 4px 4px 100px -37px rgba(0, 0, 0, 0.55);
  transition: box-shadow ease-in 200ms;
}
.grid-container div:hover {
  box-shadow: 4px 4px 100px -37px rgb(67, 0, 177);
}

.one {
  grid-column: 1/3;
}

.four {
  grid-column: 2/4;
}

.five {
  grid-column: 1/3;
}

.pricing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  width: 80%;
  justify-items: center;
  margin: 0 10%;
}

.pricing-item {
  border: 1px solid #7a7a7a;
  border-radius: 10px;
  padding: 30px 50px;
  width: 100%;
  background: rgb(18, 18, 18);
  background: linear-gradient(90deg, rgb(18, 18, 18) 0%, rgb(20, 20, 20) 100%);
  box-shadow: 4px 4px 100px -37px rgba(0, 0, 0, 0.55);
  transition: transform ease-in 200ms;
}
.pricing-item h2 {
  text-align: center;
}
.pricing-item h3 {
  text-align: center;
  margin: 20px 0;
}
.pricing-item:hover {
  transform: scale(1.05);
}
.pricing-item .joinus-btn {
  width: 100%;
  margin: 20px 0 0 0;
}

.pricing-item:nth-of-type(2) {
  transition: all ease-in 200ms;
}
.pricing-item:nth-of-type(2):hover {
  box-shadow: 4px 4px 100px -37px rgb(67, 0, 177);
}

.features-text {
  color: #7a7a7a;
  margin: 20px 0;
}

li {
  padding: 5px 0;
}

.features-active {
  list-style: none;
}

.features-inactive {
  list-style: none;
  color: #7a7a7a;
  text-decoration: line-through;
  opacity: 0.5;
}

.live-rating-img {
  width: 60px;
}

.live-rating {
  width: 80%;
  margin: 75px 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.live-rating table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.live-rating table thead {
  background: rgb(18, 18, 18);
  background: linear-gradient(90deg, rgb(18, 18, 18) 0%, rgb(20, 20, 20) 100%);
  color: #7a7a7a;
}
.live-rating table th, .live-rating table td {
  text-align: center;
  padding: 10px 0;
}
.live-rating table tr {
  border-bottom: 1px solid #7a7a7a;
  cursor: pointer;
}
.live-rating table tr:nth-of-type(1) {
  cursor: default;
}

.above-zero {
  color: green;
}

.below-zero {
  color: red;
}

.join-us {
  width: 80%;
  margin: 75px 10%;
  padding: 30px 30px;
  border-radius: 10px;
  display: grid;
  align-items: center;
  justify-items: right;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: rgb(18, 18, 18);
  background: linear-gradient(90deg, rgb(18, 18, 18) 0%, rgb(20, 20, 20) 100%);
  box-shadow: 4px 4px 100px -37px rgba(0, 0, 0, 0.55);
}
.join-us img {
  width: 50%;
}

.join-us-left {
  text-align: center;
}
.join-us-left h2 {
  font-size: 3.5rem;
}
.join-us-left P {
  color: #7a7a7a;
}
.join-us-left .joinus-btn {
  margin-top: 20px;
  padding: 20px 30px;
}

footer {
  width: 100%;
  position: relative;
  background: rgb(18, 18, 18);
  background: linear-gradient(90deg, rgb(18, 18, 18) 0%, rgb(20, 20, 20) 100%);
  bottom: 0;
}

.footer-container {
  width: 80%;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}/*# sourceMappingURL=main.css.map */